@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1700px)
  .home
    padding: 170px 0 102px

  .btn-scroll-bottom
    margin: 100px auto 0

@media only screen and (max-width: 1450px)
  .clouds_back
    bottom: -100px

  .start-box
    padding: 40px

  .program-box
    padding: 40px 23px 50px 45px

  .tariffs-box
    margin: 0 150px 84px





@media only screen and (max-width: 1200px)
  .container
    max-width: 1090px

  .home
    padding: 303px 0 148px
    .box-text
      margin: 49px auto 124px
      font-size: 38px
      font-weight: bold
      max-width: 710px

  h1
    font-size: 67.5px

  header
    padding: 58px 0

  .logo
    font-size: 52px

  .logo-icon
    width: 62px
    min-width: 62px

  .logo-text
    margin: 0 0 0 27px

  .btn-green
    font-size: 24.5px
    padding: 9px 62px

  .btn-burger
    width: 68px
    height: 50px
    margin: 0 0 0 44px
    span
      height: 8px

  .btn-black
    font-size: 38px
    padding: 29px 88px

  .btn-scroll-bottom
    margin: 801px auto 0
    span
      width: 108px
      height: 44px
      margin: -15px -54px

  .rocket
    height: 49%
    right: auto
    left: 50%
    transform: translateX(-50%)
    background-position: center top

  .clouds_back
    bottom: -250px

  .p-120
    padding: 130px 0

  h2
    font-size: 68.5px
    margin: 0 auto 40px

  h3
    font-size: 38px

  .program
    h2
      max-width: 800px
      margin: 0 auto 38px
      br
        display: none
    h3
      margin: 0 auto 148px
    .btn
      margin: 108px auto 0


  .program-box
    padding: 40px 53px 39px 62px
    line-height: 1.4
    width: 100%
    max-width: 631px
    margin: 0 auto 54px
    font-size: 24.5px
    border-radius: 15px
    min-height: 262px
    br
      display: none
    h3
      font-size: 25px
      margin: 0 0 17px
    &__icon
      width: 48px
      height: 48px
    &__body
      width: calc(100% - 48px)


  .btn-border
    font-size: 38px
    padding: 28px 110px

  .case
    padding: 150px 0 140px
    h2
      max-width: 500px
      margin: 0 auto 30px
    h3
      margin: 0 auto 167px
      max-width: 730px
    .btn
      margin: 120px auto 0
      padding: 26px 59px

  .case-box
    max-width: 760px
    flex-direction: column
    align-items: center
    margin: 0 auto 33px
    h4
      width: 100%
      text-align: center
      margin: 0 0 32px
      font-size: 35.5px
    &__content
      font-size: 24.5px
      font-weight: 500
      width: 100%
      text-align: center

  .stages-work
    padding: 110px 0 130px
    h2
      margin: 0 auto 258px
    .btn
      margin: 195px auto 0

  .stages-work-box
    margin: 0 auto 80px
    max-width: 600px
    text-align: center
    font-size: 38px
    h3
      margin: 0 auto 10px
    .icon-arrow
      margin: 93px auto 0
      max-width: 72px
    br
      display: block

  .showcase
    h3
      margin: 0 auto 167px
      font-size: 38px
      max-width: 630px
    .wrapper
      flex-direction: column
      align-items: center
    .btn
      margin: 154px auto 0

  .showcase-box
    margin: 0 auto 53px
    font-size: 31px
    max-width: 400px
    br
      display: block
    h4
      font-size: 38px
      margin: 0 auto
    &__icon
      max-width: 135px
      margin: 0 auto 25px

  .technical-support
    padding: 135px 0 130px
    .container
      flex-direction: column
      align-items: center

    h2
      max-width: 550px

    h3
      margin: 0 auto 216px
      max-width: 540px
      line-height: 1.6
    .wrapper
      flex-direction: column
      align-items: center
    .btn
      margin: 109px auto 0

  .technical-support-box
    margin: 0 auto 98px
    font-size: 31px
    max-width: none
    h4
      font-size: 31px
    &__icon
      margin: 0 auto 40px

  .tariffs
    h2
      margin: 0 auto 32px
    h3
      margin: 0 auto 160px
      max-width: 450px
      line-height: 1.5
      br
        display: block
    .btn
      margin: 57px auto 0

  .tariffs-box
    max-width: none
    width: 100%
    font-size: 30.5px
    margin: 0 auto 124px
    &__icon
      height: 125px
    h4
      font-size: 39px

  .price
    margin: 0 auto 2px
    font-size: 47.5px

  .start
    padding: 133px 0 130px
    h2
      margin: 0 auto 30px
    h3
      margin: 0 auto 163px
      br
        display: none
    .btn
      margin: 98px auto 0

  .start-box
    width: 100%
    max-width: 713px
    margin: 0 auto 62px
    padding: 34px 160px 48px 65px
    font-size: 26.5px
    line-height: 1.4
    min-height: 260px
    h3
      margin: 0 0 5px
      font-size: 41px
    &:nth-child(2)
      br
        display: block
    br
      display: none

  .sidebar-wrapper
    top: 179px

/* Medium Devices, Desktops */
@media only screen and (max-width: 1080px)
  .container
    max-width: 986px

  h1
    font-size: 79px

  .home
    padding: 267px 0 123px
    .box-text
      font-size: 45px
      max-width: 835px
      margin: 58px auto 77px

  .btn-black
    padding: 33px 100px
    font-size: 44.5px

  .btn-border
    font-size: 44.5px
    padding: 33px 125px

  .rocket
    bottom: -33px

  h2
    font-size: 80.5px

  h3
    font-size: 44.5px

  .program
    padding: 130px 0 125px
    h2
      max-width: 865px
      margin: 0 auto 45px
    h3
      margin: 0 auto 66px
    .btn
      margin: 44px auto 0

  .program-box
    max-width: 742px
    font-size: 28px
    padding: 45px 53px 39px 74px
    line-height: 1.5
    margin: 0 auto 40px
    min-height: 308px
    br
      display: block
    h3
      font-size: 29.5px
      margin: 0 0 18px
    &__icon
      width: 57px
      height: 57px
    &__body
      width: calc(100% - 57px)

  .case
    padding: 103px 0 122px
    h2
      max-width: 585px
      margin: 0 auto 36px
    h3
      max-width: 840px
      line-height: 1.7
      margin: 0 auto 47px
    .btn
      margin: 45px auto 0
      padding: 35px 59px

  .case-box
    max-width: 905px
    min-height: 260px
    margin: 0 auto 35px
    br
      display: block
    h4
      font-size: 42px
      margin: 0 0 35px
    &__content
      font-size: 29px

  .stages-work
    padding: 106px 0 125px
    h2
      margin: 0 auto 182px
    .btn
      margin: 69px auto 0

  .stages-work-box
    font-size: 44.5px
    max-width: 700px
    margin: 0 auto 101px
    .icon-arrow
      max-width: 89px
      margin: 101px auto 0


  .showcase
    padding: 104px 0 125px
    h3
      font-size: 44.5px
      max-width: 720px
      line-height: 1.6
      margin: 0 auto 70px
    .btn
      margin: 34px auto 0

  .showcase-box
    font-size: 36.5px
    max-width: 540px
    margin: 0 auto 63px
    &__icon
      max-width: 160px
    h4
      font-size: 44.5px

  .technical-support
    padding: 109px 0 125px
    h2
      max-width: 630px
    h3
      max-width: 680px
      margin: 0 auto 123px
    .btn
      margin: 78px auto 0

  .technical-support-box
    font-size: 36.5px
    margin: 0 auto 80px
    &__icon
      max-width: 127px
    h4
      font-size: 36.5px

  .tariffs
    padding: 104px 0 124px
    h3
      max-width: 525px
      line-height: 1.7
      margin: 0 auto 90px
    .btn
      margin: 6px auto 0

  .tariffs-box
    font-size: 36px
    margin: 0 auto 93px
    &__icon
      height: 144px
    h4
      font-size: 46px

  .price
    font-size: 55.5px
    margin: 0 auto 8px

  .start
    padding: 107px 0 120px
    h3
      max-width: 800px
      line-height: 1.7
      margin: 0 auto 88px
    .btn
      margin: 69px auto 0

  .start-box
    max-width: 839px
    padding: 36px 179px 53px 74px
    font-size: 31px
    margin: 0 auto 40px
    h3
      margin: 0 0 5px
      font-size: 48.5px


@media only screen and (max-width: 1030px)
  .logo
    font-size: 40px

  .logo-icon
    max-width: 52px
    min-width: 52px

  header
    padding: 40px 0

  .btn-burger
    width: 60px
    height: 40px
    span
      height: 6px

  .btn-green
    padding: 9px 45px
    font-size: 20px

  .btn-black
    font-size: 26px
    padding: 23px 60px

  .btn-border
    font-size: 24px
    padding: 23px 60px

  .home
    padding: 167px 0 123px
    .box-text
      margin: 40px auto
      font-size: 30px
      line-height: normal

  .clouds_front
    background-position: center bottom

  h1
    font-size: 50px
    line-height: normal
    max-width: 700px

  .btn-scroll-bottom
    margin: 200px auto 0
    span
      width: 80px
      margin: -15px -40px

  .program
    h2
      margin: 0 auto 30px
    h3
      margin: 0 auto 30px

  h2
    font-size: 50px
    line-height: normal

  h3
    font-size: 26px

  .program-box
    font-size: 22px
    min-height: auto
    br
      display: none
    h3
      margin: 0 0 10px

  .case
    h3
      line-height: normal
    .btn
      padding: 20px 50px
      margin: 20px auto 0

  .case-box__content
    font-size: 22px

  .case-box
    margin: 0 auto 40px
    min-height: auto
    br
      display: none
    h4
      font-size: 34px
      margin: 0 auto 20px

  .p-120
    padding: 80px 0

  .stages-work
    h2
      margin: 0 auto 40px
    .btn
      margin: 20px auto 0

  .stages-work-box
    margin: 0 auto 40px
    font-size: 22px
    br
      display: none
    .icon-arrow
      margin: 30px auto 0
      max-width: 40px

  .showcase
    h3
      margin: 0 auto 60px
      font-size: 26px
      line-height: normal
    .btn
      margin: 0 auto

  .showcase-box
    font-size: 24px

    h4
      font-size: 26px
    &__icon
      max-width: 120px

  .technical-support
    h3
      margin: 0 auto 60px
    .btn
      margin: 0 auto

  .technical-support-box
    font-size: 24px
    margin: 0 auto 60px
    &__icon
      margin: 0 auto 20px
      max-width: 80px
    h4
      font-size: 26px

  .tariffs
    h3
      margin: 0 auto 60px
      line-height: normal

  .tariffs-box
    font-size: 24px
    margin: 0 auto 60px
    &__icon
      height: 100px
    h4
      font-size: 26px

  .price
    font-size: 40px

  .start
    h3
      margin: 0 auto 60px
      line-height: normal
    .btn
      margin: 30px auto 0

  .start-box
    font-size: 24px
    min-height: auto
    h3
      font-size: 28px
      margin: 0 0 20px

  footer
    padding: 80px 0 50px

  .links-black
    font-size: 26px

  .sidebar-wrapper
    top: 130px

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  h2
    font-size: 50px
    margin: 0 auto 50px
    line-height: normal

  .logo
    font-size: 40px
    &-icon
      max-width: 40px
      min-width: 40px


  .btn-green
    font-size: 20px
    padding: 7px 20px

  .btn-burger
    width: 40px
    height: 24px
    margin: 0 0 0 20px
    span
      height: 3px

  header
    padding: 20px 0

  .sidebar-wrapper
    top: 89px

  h1
    font-size: 50px
    line-height: normal

  .home
    padding: 160px 0 120px
    .box-text
      font-size: 18px
      font-weight: normal
      margin: 40px auto

  .btn-scroll-bottom
    margin: 200px auto 0

  .btn-black, .btn-border
    font-size: 24px
    padding: 14px 40px



  .p-120
    padding: 70px 0

  h3
    font-size: 30px
    line-height: normal

  .program-box
    font-size: 20px
    min-height: auto
    padding: 30px
    br
      display: none
    h3
      font-size: 22px
      margin: 0 0 10px

  .case
    h3
      margin: 0 auto 30px


  .case-box
    font-size: 20px
    min-height: auto
    &__content
      font-size: 20px
    h4
      font-size: 24px
      margin: 0 auto 10px

  .case .btn, .stages-work .btn, .showcase .btn, .technical-support .btn, .tariffs .btn, .start .btn
    margin: 30px auto 0

  .case .btn
    padding: 14px 30px

  .stages-work h2, .showcase h3, .technical-support h3, .tariffs h3, .start h3
    margin: 0 auto 70px
    line-height: normal


  .stages-work-box
    font-size: 20px
    margin: 0 auto 40px
    max-width: 400px

    .icon-arrow
      max-width: 50px
      margin: 40px auto 0

  .showcase-box
    font-size: 20px
    h4
      font-size: 26px
    &__icon
      max-width: 70px

  .showcase h3
    font-size: 28px

  .technical-support-box
    font-size: 20px
    margin: 0 auto 40px
    h4
      font-size: 26px
    &__icon
      margin: 0 auto 20px
      max-width: 60px

  .tariffs-box
    font-size: 20px
    margin: 0 auto 40px
    h4
      font-size: 26px

  .price
    font-size: 24px
    margin: 10px auto

  .start-box
    padding: 30px
    margin: 0 auto 30px
    border-radius: 5px
    font-size: 20px
    min-height: auto
    line-height: normal
    br
      display: none
    h3
      line-height: normal
      margin: 0 0 10px
      font-size: 26px
    &:nth-child(2), &:last-child
      br
        display: none

  footer
    padding: 50px 0 30px

  .list-pay
    margin: 30px 0 0
    flex-wrap: nowrap
    li
      padding: 0 10px
      margin: 0 0 30px
    .icon-pay1
      margin: 15px 0 30px

  .links-black
    font-size: 24px



/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .home
    padding: 100px 0 80px
    .box-text
      margin: 20px auto
      line-height: normal

  .btn-green
    font-size: 12px
    padding: 5px 10px

  .logo
    font-size: 24px
    &-text
      margin: 0 0 0 10px
    &-icon
      min-width: 30px
      max-width: 30px

  .clouds_back
    bottom: 0

  .my-paroller
    transform: none !important

  .rocket
    bottom: -45px
    width: 100%
    -webkit-background-size: 50px
    background-size: 50px
    transform: translateX(0)
    left: auto
    right: 0

  .btn-burger
    width: 30px
    height: 20px
    margin: 0 0 0 15px

  .sidebar-wrapper
    top: 70px

  h1, h2
    font-size: 30px

  .p-120
    padding: 50px 0

  h3
    font-size: 20px
    margin: 0 auto 30px

  .showcase h3, .start-box h3, .program-box h3, .case-box h4, .showcase-box h4, .technical-support-box h4, .tariffs-box h4
    font-size: 20px

  .price
    font-size: 22px

  .stages-work h2, .showcase h3, .technical-support h3, .tariffs h3, .start h3, h2
    margin: 0 auto 30px

  .showcase-box
    margin: 0 auto 40px
    max-width: 300px

  .tariffs h3
    br
      display: block

  .case .btn
    padding: 14px 10px

  .btn
    font-size: 18px

  .btn-scroll-bottom
    margin: 155px auto 0
    span
      max-width: 60px
      margin: -15px -30px

  .program-box__icon
    width: 45px
    height: 45px

  .program-box__body
    width: calc(100% - 45px)

  .program-box, .case-box, .case-box__content, .stages-work-box, .showcase-box, .technical-support-box, .tariffs-box, .start-box, .links-black
    font-size: 16px

  .start-box
    h3
      margin: 0 0 10px



/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)

  .btn-black, .btn-border
    font-size: 18px

  .program-box
    padding: 24px
    margin: 0 0 30px
    br
      display: none
    &__body
      width: calc(100% - 24px)
      padding: 0 0 0 10px
    &__icon
      width: 24px
      height: 24px

  .list-pay
    justify-content: space-around
    li
      width: 33.3%

  .links-black
    font-size: 20px
    margin: 0 auto 10px

  .modal__wrapper
    padding: 40px 30px
    h2
      font-size: 24px

  .btn
    font-size: 16px

  .list-pay .icon-pay1
    margin: 0 0 30px

/*==========  Mobile First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1681px)
  .container
    max-width: 1800px

  header
    padding: 54px 0

  .logo
    font-size: 45px

  .logo-icon
    max-width: 53px
    width: 100%
    min-width: 53px

    img
      width: 100%

  .logo-text
    margin: 0 0 0 21px

  .btn-green
    font-size: 24px
    padding: 9px 59px
    margin: 9px 0 0

  .btn-burger
    width: 66px
    height: 49px
    margin: 11px -3px 0 42px

    span
      height: 9px

  .home
    padding: 335px 0 70px
    .box-text
      margin: 43px auto 49px

  .rocket
    width: 20%
    height: 54%
    right: 20px
    left: auto
    bottom: -111px

  .btn-black
    font-size: 37.5px
    padding: 28px 83px

  .btn-border
    font-size: 37px
    padding: 27px 113px

  .btn-scroll-bottom
    margin: 190px auto 0

  .p-120
    padding: 160px 0

  .program
    padding: 250px 0 165px
    h2
      margin: 0 auto 80px

  .program-box
    margin: 0 0 106px

  .case
    padding: 153px 0 170px
    .btn
      margin: 100px auto 0
      padding: 25px 80px
    h3
      margin: 0 auto 95px

  .stages-work
    padding: 150px 0 163px
    h2
      margin: 0 auto 97px
    .btn
      margin: 57px auto 0

  .showcase-box
    margin: 0 0 93px
    line-height: 1.4

  .showcase
    padding: 153px 0 161px
    h3
      margin: 0 auto 130px
    .btn-border
      padding: 27px 97px

  .technical-support
    padding: 153px 0 165px
    h3
      margin: 0 auto 163px


  .technical-support-box
    margin: 0 70px 122px

  .tariffs
    padding: 150px 0 160px
    h3
      margin: 0 auto 95px
    .wrapper
      justify-content: center

  .tariffs-box
    margin: 0 200px 97px

  .start
    padding: 155px 0 175px
    h3
      margin: 0 auto 145px

  .start-box
    margin: 0 0 100px
    line-height: 1.4
    padding: 48px 59px 65px 67px

    h3
      margin: 0 0 15px

  .list-pay li
    margin: 0 0 50px

  .sidebar-wrapper
    top: 163px

  footer
    padding: 102px 0 50px